//   colours
$theme-pink: #fff0ed;
$theme-blue: #5bacc3;
$theme-gray: #f7f7f7;
$theme-graphite: #393939;

$button-color: white;


//   fonts
$heading-font-size: 6rem;
$heading-font-wight: 300;

$nav-heading-size: 3.3rem;
$nav-heading-wight: 300;

