#cold-drinks {
  background-color: #f7f7f7;
}
#shop-now {
  color: #5bacc3;
}

.menu__heading {
  background-image: url(../asset/images/coffee-circle.jpg);
  min-height: 57.5rem;
  max-height: 60rem;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__titlebox {
  display: inline-flex;
  justify-content: center;
  color: white;
  background: #393939;
  min-width: 28rem;
  max-width: 30rem;
  min-height: 18rem;
  max-height: 20rem;
}
.nav-bar {
  color: white;
  text-align: center;
  background-color: #393939;
}
.nav__list {
  padding: 0%;
  margin: 0%;
}
.nav__item {
  display: inline-block;
  list-style-type: none;
  padding: 1rem;
}
.nav__item--link {
  text-decoration: none;
  color: white;
  border-left: solid #5bacc3 4px;
  padding-left: 20px;
}
.text-box {
  display: inline-block;
  text-align: center;
  width: 50rem;
}
